# Dependencies
node_modules/
frontend/node_modules/
server/node_modules/

# Production Build
frontend/dist/
server/dist/

# Environment variables
.env
server/.env
frontend/.env
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/
